/* Inner wrapper for layout and styling */
.reject-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}
.reject-content {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    background-color: lightyellow;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.reject-content img{
    height: 100px;
    width: 100px;
}
.reject-content h2{
    font-size: 2rem;
    font-weight: bold;
    color: red;
    padding-bottom: 15px;
}
.reject-content p{
    font-size: 18px;
    color: black;
    padding-bottom: 15px;
}

/* Reason container styling */
.reason-container {
    display: flex;
    align-items: center;
    background-color: #fff3cd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-icon {
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
}

.reason-text {
    font-size: 1rem;
    color: #856404; /* Warning color */
}

/* Button styling */
.retry-button {
    background-color: #FF5740;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.retry-button:hover {
    background-color: #e68900;
    transform: translateY(-2px);
}

.retry-button:active {
    transform: translateY(2px);
}
